body {
  font-family: "Lato", sans-serif;
}

#main {
  max-width: 800px;
  margin: 0 auto;
}

#name {
  margin: auto;
  text-align: center;
}

#contact {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
